html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f5f5f4;
}

header, footer{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    background-color:#57534e;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
  
    height: 100%;
}   



.sidebar-header, .main-content-header{
   
    grid-row: 1/2;
    
    height: 100%;
}

.sidebar-content, .main-content-list{
    height: 100%;
    width: 100%;
    grid-row: 2/3;
}


.sidebar-header, .sidebar-content{
    background-color: #d6d3d1;
}


.main-content-list, .sidebar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow:auto;
}

.addList, .project-header{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.addList button{
    margin: 10px;
    padding: 10px 20px;
    border:none;
    background-color: #472c07;
    color:white;
    border-radius: 25px;
}
.addList button:hover{
    opacity:0.5;
}

.list, .project-list, .home{
    margin: 5px;
    width: 70%;
    border: 1px solid #000;
    padding: 20px;
}

.list{
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    background: rgb(255,191,150);
    background: linear-gradient(90deg, rgba(255,191,150,1) 0%, rgba(255,255,255,1) 81%);
    border:none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.list button{
    border:none;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #ee5454;
    color:white;
}

.list:hover{
    opacity: 0.5;
}

.home:hover{
    opacity: 0.5;
}

.project-list, .home{
    background-color: #ddd6fe;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
}

.project-list:hover{
    opacity:0.5;
}

.form-group{
    margin: 8px;
    text-align: left;
}

.form-group input, textarea{
    display: flex;
}

.form-list{
    padding: 20px;
}